//---Architectures---
ARCHS = x86_64
ONLY_ACTIVE_ARCH = YES
SDKROOT = macosx

//---Build Locations---
SYMROOT = $(MAXON_ROOTDIR)(build)

//---Build Options---
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_BITCODE = NO

//---Code Signing--- removed as signing will be done during distill process
//CODE_SIGN_IDENTITY = $(MAXON_CODE_SIGN_IDENTITY)
//OTHER_CODE_SIGN_FLAGS = --timestamp=none //this is a workaround for 10.8

//---Deployment---
DEPLOYMENT_POSTPROCESSING = YES
MACOSX_DEPLOYMENT_TARGET = 10.7
COMBINE_HIDPI_IMAGES = YES
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = YES
SEPARATE_STRIP = NO
DSTROOT = .
STRIP_STYLE = non-global

//---Linking---
DEAD_CODE_STRIPPING = YES
PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES

//---Search Paths---
ALWAYS_SEARCH_USER_PATHS = NO		// the ICC (12 R4) has problems with relative include paths (so YES has to be used), all other compilers work without this (NO)
USER_HEADER_SEARCH_PATHS = $(MAXON_ROOTDIR)_bin/resource $(MAXON_ROOTDIR)_bin/resource/descriptions/res $(MAXON_ROOTDIR)_bin/resource/gui_internal

//---Code Generation---
//---Language---
#include "compiler"

GCC_OPTIMIZATION_LEVEL = 3
ICC_OPTLEVEL = 3
ICC_OTHER_CPLUSPLUSFLAGS = -wd68,191,279,654,858,1899 -fp-speculationsafe -std=c++0x -O3

//---Preprocessing---
GCC_PREPROCESSOR_DEFINITIONS[arch=i386] = __MAC MAXON_TARGET_RELEASE MAXON_TARGET_OSX
GCC_PREPROCESSOR_DEFINITIONS[arch=x86_64] = __MAC __64BIT MAXON_TARGET_RELEASE MAXON_TARGET_OSX MAXON_TARGET_64BIT

//---Warnings---
#include "warnings"
