#include "debugbase"

OTHER_CPLUSPLUSFLAGS =  $(OTHER_CFLAGS) -fno-omit-frame-pointer -fno-common -fsanitize=address
OTHER_LDFLAGS = -fsanitize=address

//---Preprocessing---
GCC_PREPROCESSOR_DEFINITIONS[arch=i386] = _DEBUG __MAC MAXON_TARGET_SANITIZE MAXON_TARGET_DEBUG MAXON_TARGET_OSX
GCC_PREPROCESSOR_DEFINITIONS[arch=x86_64] = _DEBUG __MAC __64BIT MAXON_TARGET_SANITIZE MAXON_TARGET_DEBUG MAXON_TARGET_OSX MAXON_TARGET_64BIT
